/*tudo*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}

body {
    background-color: #333333;
}

/*cabeçalho*/
header {
    position: fixed;
    display: flex;
    height: 5em;
    width: 90em;
    background-color: #B36EEA;
    z-index: 2;
}

header>h3 {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1.5em;
}

header a {
    text-decoration: none;
}

.pesquisa {
    display: flex;
    height: 1.6em;
    margin-top: 1.7em;
}

.txtPesquisa {
    width: 30em;
    border: black 1px solid;
    border-right: none;
    text-indent: 5px;
}

.btnPesquisa {
    position: relative;
    width: 3em;
    height: 1.9em;
    border: #000 1px solid;
    background-image: url(../images/search-site-pw2.png);
    background-size: 2.4em 1.9em;
    background-position: center;
}

.perfil {
    text-align: center;
    margin-left: 21em;
}

header>.perfil>img {
    position: relative;
    border-radius: 50%;
    min-height: 3.2em;
    min-width: 3.2em;
    max-width: 3.2em;
    max-height: 3.2em;
    border: black 1px solid;
}

/* main */
main {
    display: inline-block;
    position: fixed;
    width: 25vw;
    height: 89vh;
    margin-top: 12.1vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    text-align: center;
}

main img {
    max-height: 40vh;
    min-height: 40vh;
    min-width: 20vw;
    max-width: 20vw;
    margin-top: 2vh;
    border: #000 2px solid;
}
main span{
    display: inline-block;
}
main a > span{
    margin-left: 1vw;
    font-size: 30px;
    font-weight: bold;
}


/* nav */
nav{
    margin-left: 25em;
}
.musica {
    display: -webkit-inline-box;
    min-height: 30vh;
    width: 10vw;
    max-height: 40vh;
    max-width: 90vw;
    margin-top: 20vh;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    text-align: center;
    font-size: 0.9em;
}

.musica label {
    display: block;
    /* position: absolute; */
    
}

.musica a {
    text-decoration: none;
    color: #fff;
}
.musica img:not(.star) {
    display: inline-block;
    height: 20vh;
    width: 100%;
    border-radius: 10%;
}

input {
    color: #000;
    text-indent: 5px;
}

#estrelas{
    display: contents;
    text-align: center;
}

.star{
    height: 2vh;
    width: 1vw;
}