/*tudo*/
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color:#000;
}
span, h1, #inpCapa{
  color:#fff;
}
body{
  background-color: #333333;
}
  /*cabeçalho*/
header{
  position:fixed;
  display:flex;
  height: 12vh;
  width: 100vw;
  background-color: #B36EEA;
}
header > h3{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top:2%;
}  
header a{
  text-decoration: none;
  color: #fff;
}
.pesquisa{
  display:flex;
  height: 4vh;
  margin-top: 1.8%;
}
.txtPesquisa{
  width: 30vw;
  border: #000 1px solid;
}
.btnPesquisa{
  position: relative;
  width: 3vw;
  height: 4vh;
  border: #000 1px solid;
  background-image: url("../images/search-site-pw2.png");
  background-size: 2.5vw 3.5vh;
  background-position: center;
}
.perfil{
  text-align: center;
  margin-left: 25%;
}
header > .perfil > img{
  position: relative;
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  max-width: 50px;
  max-height: 50px;
  border: #000 1px solid;
}
/* meio */
#escolheInsercao{
    margin-top: 20vh;
    margin-left: 5vw;
    margin-bottom: 5vh;
    font-size: 24px;
    text-align: center;
}
select:not(#escolheInsercao), input:not(.rdBndArt, .txtPesquisa){
  width: 24vw;
}
div:not(#insercao06) label{
  display: block;
  margin-bottom: 1.8vh;
}
#insercao06 label, #insercao01 label{
  display: block;
  margin-bottom: 1vh;
  font-size: 15px;
}
#insercao01 input{
  height:2vh;
}
span{
  display: block;
}
.rdBndArt{
  display: inline-block;
  margin-left: 0vw;
}
div:not(.perfil, #divRadButton){
  display: flex;
  margin-left: 30vw;
  margin-top: -10vh;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  width: 25vw;
  min-height: 78vh;
  background-color: #222;
  border: #000 solid 2px;
}
button{
  font-size: 16px;
  width: 7vw;
  height: 4vh;
}
textarea:not(#txtArtistaApres, #txtLetra){
  width: 24vw;
  height: 15vh;
}
#insercao01 textarea{
  height: 12vh;
  width: 24vw;
}
#txtLetra{
  width: 24vw;
  height: 9vh;
}
