*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    color: rgb(255, 252, 248);
}
body{
    background-color:  #1C1C1C;
    padding: 0;
    margin: 0%;
}
.barra {
    height: 50px;
    background-color: blueviolet;
    padding-top: 1.5px;
    padding-bottom: 10px;
    margin: 0;
    width: 100vw;
}
.barra>ul li{    
    list-style: none;
    display:inline;
    margin-left: 9px;
    margin-top: 10px;
    margin-bottom: 3vh;
}
#opa{
    margin-left: 60vw;
}
img{
    border-radius: 50%;
    min-height: 5px;
    min-width: 5px;
    max-width: 30px;
    max-height: 30px;
}
.conteiners{
    background-color: #1C1C1C;
    margin-bottom:0px ;
    border-bottom:2px solid #4F4F4F ;
    height: 30vh;
    width: 100vw;
    text-align:justify;
}
.conteiners>h1{
    margin-left: 40vw;
}
.baixo{
    margin-bottom: 0%;
    height:100% ;
}
.baixo> ul li{
    display:flex;
    height: 5vh;   
    margin-right: 2vh;
}
button{
    height: 7vh;
    width: 8vw;
    background-color: black;
    color: blanchedalmond;
    margin-left: 3vw;
    border: none;
}