/*tudo*/
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  }
  body{
  background-color: #333333;
  line-height: 1.6;
  }
  /*cabeçalho*/
  header{
  position:fixed;
  display:flex;
  height: 12vh;
  width: 100vw;
  background-color: #B36EEA;
  line-height: 1.2;
  }
  header > h3{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top:2%;
  }
  header a{
  text-decoration: none;
  color: #fff;
  }
  .pesquisa{
  display:flex;
  height: 4vh;
  margin-top: 1.8%;
  }
  .txtPesquisa{
  width: 30.1vw;
  border: #000 1px solid;
  }
  .btnPesquisa{
  position: relative;
  width: 3vw;
  height: 4vh;
  border: #000 1px solid;
  background-image: url("../images/search-site-pw2.png");
  background-size: 2.5vw 3.5vh;
  background-position: center;
  }
.perfil{
  text-align: center;
  margin-left: 25.1%;
  line-height: 1.6;
}
header > .perfil > img{
  position: relative;
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  max-width: 50px;
  max-height: 50px;
  border: black 1px solid;
}
section{
    border-bottom:2px solid #4F4F4F ;
    min-height:30vh;
    width: 100%;
    display:inline-block;
    top:10vh;
    margin-top: 15vh;   
    text-align:justify;
}
section > p{   
    margin: 5% 5%;
}
section > h1{
    margin-left: 45%;
}
.corpo{
    margin-top: 9%;
    height: 60vh;
    /*z-index: 0;*/
}
.corpo > ul li{
    margin-top: 3vh;
    list-style: none;
    margin-left: 3vw;
}
input{
    color: #000;
    text-indent: 5px;
  }