*{
  margin: 0px;
  font-family: sans-serif;
}
body{
  background-color: #333333;
}
header{
  display:flex;
  height: 10vh;
  background-color: #B36EEA;
}
header > h3{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top:2%;
}
.perfil{
  margin-left: 25%;
}
.perfil > img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
header a{
  text-decoration: none;
  color: #fff;
}
.pesquisa{
  display:flex;
  height: 4vh;
  margin-top: 1.8%;

}
.txtPesquisa{
  width: 35vw;
  border: #000 1px solid;
}

img{
  position: relative;
  width: 3vw;
  border: #000 1px solid;
}