/*tudo*/
*{
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
}
body{
  background-color: #333333;
}
/*cabeçalho*/
header{
  position:fixed;
  display:flex;
  height: 12vh;
  width: 100vw;
  background-color: #B36EEA;
}
header > h3{
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top:2%;
}
header a{
  text-decoration: none;
  color: #fff;
}
.pesquisa{
  display:flex;
  height: 4vh;
  margin-top: 1.8%;
}
.txtPesquisa{
  width: 30vw;
  border: #000 1px solid;
}
.btnPesquisa{
  position: relative;
  width: 3vw;
  border: #000 1px solid;
}
.perfil{
  text-align: center;
  margin-left: 25%;
}
header > .perfil > img{
  position: relative;
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  max-width: 50px;
  max-height: 50px;
  border: black 1px solid;
}
/*musicas*/
h2{
  color: #fff;
}
.linha{
  display: inline-block;
  margin-top: 20vh;
  margin-left: 5vw;
  margin-right: 5vw;
  max-height: 30vh;
  max-width: 90vw;
}
.album{
  display: table;
  height: 30vh;
  width: 10vw;
  margin-right: 2vw;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  font-size: 0.9em;
  margin-top: 0;
}
.album label{
  display: block;
  text-align: center;
}
.album small{
  display: block;
  text-align: center;
}
.album a{
  text-decoration: none;
  color: #fff;
}
.album img{
  display: inline-block;
  height: 20vh;
  width: 100%;
  border-radius: 10%;
}
