*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sens-serif;
    /* background-image: linear-gradient(217deg, rgba(130, 27, 190, 0.4), rgba(255,0,0,0) 70.71%),
                      linear-gradient(127deg, rgba(196, 199, 23, 0.4), rgba(0,255,0,0) 70.71%),
                      linear-gradient(336deg, rgba(26, 184, 39, 0.4), rgba(0,0,255,0) 70.71%); */
    color: #fff;
    margin-left: 25vw;
    margin-top: 20vh;
}
.dentro{
    display: inline-block;
    height: 60vh;
    width: 20vw;
    background-color: #bf6be8;
    position: absolute;
}
img{
    height: 60vh;
    width: 30vw;
    position:relative;
}
input
{
    margin-left: 10px;
    margin-bottom: 1vh;
    width:90%;
    height:21px;
    color:#FFFFFF;
    background:#333333;
}
label{
    margin-left: 1vw;
    font-size: 16px;
}
a{
    position: absolute;
    margin-top: 3.5vh;
    margin-left: -18vw;
    font-size: 12px;
    color: #fff;
}
h2{
    margin: 5vh 1vw;
}
button{
    position: absolute;
    margin-top: 25vh;
    height: 5vh;
    width: 10vw;
    margin-left: -18vw;
}