/*tudo*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}

body {
    background-color: #333333;
}

/*cabeçalho*/
header {
    position: fixed;
    display: flex;
    height: 5em;
    width: 90em;
    background-color: #B36EEA;
    z-index: 2;
}

header>h3 {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1.5em;
}

header a {
    text-decoration: none;
}

.pesquisa {
    display: flex;
    height: 1.6em;
    margin-top: 1.7em;
}

.txtPesquisa {
    width: 30em;
    border: black 1px solid;
    border-right: none;
    text-indent: 5px;
}

.btnPesquisa {
    position: relative;
    width: 3em;
    height: 1.9em;
    border: #000 1px solid;
    background-image: url(../images/search-site-pw2.png);
    background-size: 2.4em 1.9em;
    background-position: center;
}

.perfil {
    text-align: center;
    margin-left: 21em;
}

header>.perfil>img {
    position: relative;
    border-radius: 50%;
    min-height: 3.2em;
    min-width: 3.2em;
    max-width: 3.2em;
    max-height: 3.2em;
    border: black 1px solid;
}

/* main */
main{
    width: 20vw;
    height: 60vh;
    display: inline-block;
    margin-top: 20vh;
    margin-left: 35vw;
    text-align: center;
}
main > img{
    min-height: 40vh;
    min-width: 20vw;
    max-height: 40vh;
    max-width: 20vw;
    border: #000 solid 1px;
}
div:not(.perfil, #txtLetras, #txtLetras div){
    text-align: center;
}
#musicaNome{
    margin: 1vh;
    margin-top: 2vh;
}
p:not(#txtLetras p){
    display: inline;
}
#maximo{
    margin-left: 13vw;
}
progress{
    width: 20vw;
    display: block;
}
button:not(.btnPesquisa){
    color: black;
}
#btnTocar{
    height: 7vh;
    width: 4vw;
    background-image: url("../images/playbutton.png");
    background-size: 4vw 7vh;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
#btnLetras{
    height: 5vh;
    width: 15vw;
    margin-top: 5vh;
}
#txtLetras{
    position: fixed;
    min-height: 100vh;
    min-width: 40vw;
    background-color: #222;
    margin-left: 65vw;
    margin-top: -90vh;
    padding-top: 10px;
    z-index: 1;
}
#txtLetras div{
    margin-left: 3vw;
    margin-top: 12vh;
    font-size: 18px;
}
nav{
    text-align: right;
}
.star{
    height: 2vh;
    width: 1vw;
}
input{
    color: #000;
}